@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/data-form";
@import "../../../../assets/styles/personal";

.info {
  padding: 50px 0 128px 0;
position: relative;
  overflow: hidden;
  .container {
    .data-form {
      .button {

        width: 169px;
      }
    }
  }
  .page-image{
    position: absolute;
    bottom: 0;
    right: calc(50% - 700px);
    z-index: -1;
    img{
      vertical-align: bottom;
    }
  }
}
