.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(105, 172, 133, 0.6);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

}