@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.catalog {
  padding: 100px 0 110px 0;

  .container {
    .catalog-title {
     @include head-lora-36;
      color: $green-text-color;
      margin-left: 317px;
      margin-bottom: 33px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 317px;

      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .catalog-applied-filter {
          border: 1px solid #e7f1e8;
          border-radius: 50px;
          padding: 8px 14px;

          font-size: 16px;
          color: #2c2c2c;
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .catalog-sorting {
        width: 190px;
        min-width: 190px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        transition: 0.2s;
        cursor: pointer;

        .catalog-sorting-head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 23px;
          justify-content: space-between;
          color: $gray-text-color;

          span {
            margin-right: 8px;
          }

          svg {
            transition: 0.2s;
          }
        }

        .catalog-sorting-body {
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          background: #F5F5F5;
          border-radius: 0 0 5px 5px;

          color: #8e8e8e;

          .catalog-sorting-item {
            margin-bottom: 14px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0px;

            }

            &.active {
              color: #313131
            }
          }
        }

        &.open {
          transition: 0.2s;
          width: 257px;
          min-width: 257px;

          .catalog-sorting-head {
            padding-right: 23px;
            color: #000;
            background: #ebebeb;
            border-radius: 5px 5px 0 0;

            svg {
              transform: rotate(180deg);
              transition: 0.2s;
            }
          }

          .catalog-sorting-body {
            display: block;
          }
        }

      }
    }

    .catalog-layout {
      margin-top: 20px;
      display: flex;

      .catalog-filters {
        width: 257px;
        min-width: 257px;
        margin-right: 58px;


      }

      .catalog-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px 30px;
      }
    }

    .pagination {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        margin: 0 30px;
        display: flex;
        align-items: center;

        a.pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 60px;
          height: 60px;
          margin-right: 15px;
          cursor: pointer;

          font-size: 20px;
          color: $gray-text-color;

          &.active {
            background-color: #b6d5b9;
            border-radius: 50%;
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}


