@import "../../../../assets/styles/auth-form";

.signup {
    margin-top: 10px;
    .container {
        display: flex;

        .page-image {
            margin-left: 222px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            img {
                vertical-align: bottom;
            }
        }
    }
}